registry=https://registry.npmjs.org/
npm-audit-level=moderate
legacy-peer-deps=true
fetch-timeout=300000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=300000
fetch-retries=10
progress=false
loglevel=verbose
